body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(100, 171, 248);
    color: white;
    padding: 20px 40px;
}

h1 {
    margin: 0;
}

.home-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.home-btn:hover {
    background-color: #f8f9fa;
}

.container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.selected-row {
    background-color: #ffeb3b;
}

.delete-btn-container {
    text-align: center;
    margin-top: 20px;
}

.delete-btn-container input[type="submit"] {
    padding: 15px 30px;
    background-color: #d32f2f;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn-container input[type="submit"]:hover {
    background-color: #c62828;
}

.btn {
    background-color: #007bff;
    color: white;
}
